@import '../../common/color.scss';

.movie-list{
    padding-top: 80px;
    margin: 20px 0px;
    h2{
        color: $font-secondary;
        margin-bottom: 10px;
        font-weight: 400;
    }
}

::-webkit-scrollbar-thumb{
    border-radius: 2px;
    background: $font-secondary;
}

::-webkit-scrollbar-track{
    border-radius: 2px;
    background: $secondary-color;
}
::-webkit-scrollbar{
    width: 5px;
}

.movie-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    grid-gap: 15px;
}